Author: subdiox <subdiox@gmail.com>
Maintainer: subdiox <subdiox@gmail.com>
Name: Infinifolders (iOS 10)
Package: com.subdiox.infinifolders
Section: Tweaks
Pre-Depends: firmware (>= 5.0)
Depends: mobilesubstrate, preferenceloader (>= 1.1), com.chpwn.iconsupport
Version: 1.0.0
Architecture: iphoneos-arm
Description: Scroll your folders: break the icon barrier! (Forked from GitHub of Infiniapps)
Depiction: http://subdiox.com/infiniapps.html
Homepage: http://subdiox.com/infiniapps.html
Icon: file:///Library/PreferenceLoader/Preferences/Infinifolders.png
Tag: purpose::extension
